/***** MAIN STYLES *****/

html {
  background-color: #e4e4e4;
}

.header {
  text-align: center;
  font-family: 'Londrina Sketch', cursive;
  font-weight: bolder;
  font-size: 5em;
  padding-top: 0.5em;
  margin-bottom: 0;
}

.sub-header {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Londrina Sketch', cursive;
  text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
  }


.sub-row {
  text-align: left;;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 0 20px 0;
    overflow: hidden;
    text-align: center;
}

li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #d0dae2;
    border: 4px;
    border-color: #d0dae2;
    color: black;
    border-radius: 2%;
}

#header-img {
  width: 100%;
  height: inherit;
}

/*.border {
  border-top: dotted;
}*/

.color-change {
  background-color: #a9cce3;

}

.portfolio-title {
  padding-top: 1em;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
}

.portfolio {
  text-align: center;
}


.about-title {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
  padding: 1.5em 0 1em 0;
}

.about {
  text-align: center;
}

.description {
  padding: 1em;
  font-size: 1.5em;
  font-family: 'Dosis', sans-serif;
}

.danja {
  display: block;
  margin: auto;
  width: 90%;
}

.img-grid {
  display: block;
  margin: auto;
  width: 90%;
}

.portfolio-grid {
  padding-bottom: 2em;
}

#contact-form-title {
  padding: 1.5em 0 1em 0;
}

.contact-form-container {
  padding: 0 0 3em 0;
}

footer {
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background-color: #e4e4e4;
}

#social-media {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  padding: .5em;
}



/*********** TABLET **********************/

@media only screen and (min-width: 670px) {
    /* For TABLET: */

.header {
  font-size: 6em;
}

.sub-header {
  font-size: 2.5em;
}

.about-title {
  font-size: 3em;
}

.portfolio-title {
  font-size: 3em;
}


.description {
  padding: 1em 3.5em 1em 3.5em;
  font-size: 1.5em;
}

.row {
  flex-direction: row;
}

.second {
  display: block;
  margin: auto;
  width: 90%;
}

}


/************* DESKTOP *****************/
@media only screen and (min-width: 1096px) {
    /* For desktop: */
    .header {
      font-size: 6em;
      padding-top: 0.5em;
    }

    .sub-header {
      font-size: 25px;
      padding-bottom: 1.5em;
      text-align: left;
    }

    li {
        display: inline;
    }

    .row {
        flex-direction: row;
      }

      .first {
        padding: 5em 1em 20em 1em;
        width: 70em;
        height: 30em;
        /*background-color: blue;*/
        overflow: hidden;
      }

      .second {
        width: 35em;
        height: 30em;
        /*background-color: white;*/
      }

      .portfolio-title {
        padding: 0 0 1.5em 0;
        font-size: 3em;
      }

      .about-title {
        padding: 1em 0 1.5em 0;
      }

      .description {
        padding-right: 3em;
        font-size: 1.4em;
      }

      .portfolio {
        text-align: right;
        padding-top: 0;

      }

      .about {
        text-align: left;
        padding-left: 3em;
      }

      .third {
        height: 15em;
        width: 17.5em;
      }

      .img-grid {
        padding: 0;
        width: 100%;
        height:100%;
      }

      .danja {
        height: inherit;
        width: inherit;
      }


    /****keep for when I have enough img to have three in a row***/

    /*.cell {
      width: calc(100% / 3);
    }*/

}
