/***** MAIN STYLES *****/

html {
  background-color: #e4e4e4;
}

html body {
  height: 100%;
}

.header {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  font-size: 5em;;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 0 20px 0;
    overflow: hidden;
    text-align: center;
}

li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #d0dae2;
    border: 4px;
    border-color: #d0dae2;
    color: black;
    border-radius: 2%;
}

#header-img {
  width: 100%;
}

.main-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.responsive-image {
  max-width: 100%;
}

.cell-right img {
  display: block;
}

footer {
  position: fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}

#social-media {
  font-size: 14px;
  text-align: center;
}


/***************** MOBILE *********************/

@media only screen and (min-width: 768px) {
    /* For MOBILE: */


}


/*********** TABLET **********************/

@media only screen and (min-width: 600px) {
    /* For TABLET: */
    .main-grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .cell-right {
      width: 50%;
    }

    /*.cell-left {
      width: 50%;
    }*/

    .main-cell {
      width: 50%;
    }



}

/************* DESKTOP *****************/
@media only screen and (min-width: 1000px) {
    /* For desktop: */
    li {
        display: inline;
    }

    /****keep for when I have enough img to have three in a row***/

    /*.cell {
      width: calc(100% / 3);
    }*/

}
